<!DOCTYPE html>
{% extends 'base.html'%}
{% load crispy_forms_tags %}


	<style>
	{% block style%}
	

	{%endblock%}

	</style>


	{%block jumbotron%}
	
	 <div class="jumbotron">
	 <div class="row">
	<div class="col-sm-8">
        <h1>Try Zango</h1>
       
        <p>Your Perception is my Deception.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join Us &raquo;</a>
        </p>
      </div>
      </div>
      </div>


	{% endblock %}


     {%block content%} 
	
	<div class="row">
  	<div class="col-md-3 " >
	<p class="lead align-center">Always Open Source</p> 
  	</div>
  	

  
  	<div class="col-md-3 " >
	<p class="lead align-center">Fork me on Github</p>
  	</div>
  	

  
  	<div class="col-md-3 " >
	<p class="lead align-center"> Simple yet effecient </p>
  	</div>
  	

	
  	<div class="col-md-3 pull-right" >

	<h1 > {{template_title}}</h1>
	<form method='POST' action=''>{% csrf_token %}
	
	{{form|crispy}}	

	<input class="btn btn-primary" type="submit" value="Sign up"></input>
	
	</form>

	</div>
	</div>
	
	{% endblock	%}
	 <p>{{user}}</p>
	}

